header, footer {
    background-color: #1F2937;
}

.quote-block {
    background-color: #E5E7EB;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    max-width: 700px;
    font-size: 36px;
    font-style: italic;

}

#quote-credit {
    margin-left: 400px;
}

.signup {
    background-color: #3882f6;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

nav {
    display: flex;
    align-items: center;
}
nav a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

nav .first-link {
    margin-left: auto;
}