header, footer {
    background-color: #1F2937;
}

.quote-block {
    background-color: #E5E7EB;
    padding: 100px;
}

.signup {
    background-color: #3882f6;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}